loglevel: debug
discord:
  url: https://discordapp.com/api/webhooks/000/xxx
steam:
  apikey: xxx
hooks:
  exampleSenderSimple: https://sdafdsafsdf.xxxxxx/dsafd
  exampleSenderEmbeds:
  rustNewItems:
  geekHackNews:
